openapi: 3.2.0
info:
  title: Hyperion History API for UPLAND Chain API
  description: '### Scalable Full History API Solution for EOSIO based blockchains

    *Made with ♥️ by EOS Rio*

    ***

    #### Current Chain: UPLAND Chain

    #### Provided by UPLAND

    #### Health API: https://10.0.3.200:7000/v2/health'
  version: 3.3.10
servers:
- url: https://chain-history.upland.me
tags:
- name: Chain
paths:
  /v1/chain/abi_bin_to_json:
    get:
      summary: Returns an object containing rows from the specified table
      description: Returns an object containing rows from the specified table.
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: code
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: action
      - required: true
        in: query
        name: binargs
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainAbiBinToJson
      x-operation-id-source: derived
    head:
      summary: Returns an object containing rows from the specified table
      description: Returns an object containing rows from the specified table.
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: code
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: action
      - required: true
        in: query
        name: binargs
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainAbiBinToJson
      x-operation-id-source: derived
    post:
      summary: Returns an object containing rows from the specified table
      description: Returns an object containing rows from the specified table.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                code:
                  $ref: '#/components/schemas/def-3'
                action:
                  $ref: '#/components/schemas/def-3'
                binargs:
                  type: string
              required:
              - code
              - action
              - binargs
      operationId: postV1ChainAbiBinToJson
      x-operation-id-source: derived
  /v1/chain/abi_json_to_bin:
    get:
      summary: Convert JSON object to binary
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: code
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: action
      - additionalProperties: true
        required: true
        in: query
        name: args
        schema:
          type: object
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainAbiJsonToBin
      x-operation-id-source: derived
    head:
      summary: Convert JSON object to binary
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: code
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: action
      - additionalProperties: true
        required: true
        in: query
        name: args
        schema:
          type: object
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainAbiJsonToBin
      x-operation-id-source: derived
    post:
      summary: Convert JSON object to binary
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                code:
                  $ref: '#/components/schemas/def-3'
                action:
                  $ref: '#/components/schemas/def-3'
                args:
                  type: object
                  additionalProperties: true
              required:
              - code
              - action
              - args
      operationId: postV1ChainAbiJsonToBin
      x-operation-id-source: derived
  /v1/chain/get_abi:
    get:
      summary: Retrieves the ABI for a contract based on its account name
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetAbi
      x-operation-id-source: derived
    head:
      summary: Retrieves the ABI for a contract based on its account name
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetAbi
      x-operation-id-source: derived
    post:
      summary: Retrieves the ABI for a contract based on its account name
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                account_name:
                  $ref: '#/components/schemas/def-3'
              required:
              - account_name
      operationId: postV1ChainGetAbi
      x-operation-id-source: derived
  /v1/chain/get_account:
    get:
      summary: Returns an object containing various details about a specific account on the…
      description: Returns an object containing various details about a specific account on the blockchain.
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetAccount
      x-operation-id-source: derived
    head:
      summary: Returns an object containing various details about a specific account on the…
      description: Returns an object containing various details about a specific account on the blockchain.
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetAccount
      x-operation-id-source: derived
    post:
      summary: Returns an object containing various details about a specific account on the…
      description: Returns an object containing various details about a specific account on the blockchain.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                account_name:
                  $ref: '#/components/schemas/def-3'
              required:
              - account_name
      operationId: postV1ChainGetAccount
      x-operation-id-source: derived
  /v1/chain/get_activated_protocol_features:
    get:
      summary: Retreives the activated protocol features for producer node
      tags:
      - Chain
      parameters:
      - description: Lower bound
        required: false
        in: query
        name: lower_bound
        schema:
          type: integer
      - description: Upper bound
        required: false
        in: query
        name: upper_bound
        schema:
          type: integer
      - description: The limit, default is 10
        required: false
        in: query
        name: limit
        schema:
          type: integer
      - description: Flag to indicate it is has to search by block number
        required: false
        in: query
        name: search_by_block_num
        schema:
          type: boolean
      - description: Flag to indicate it has to search in reverse
        required: false
        in: query
        name: reverse
        schema:
          type: boolean
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetActivatedProtocolFeatures
      x-operation-id-source: derived
    head:
      summary: Retreives the activated protocol features for producer node
      tags:
      - Chain
      parameters:
      - description: Lower bound
        required: false
        in: query
        name: lower_bound
        schema:
          type: integer
      - description: Upper bound
        required: false
        in: query
        name: upper_bound
        schema:
          type: integer
      - description: The limit, default is 10
        required: false
        in: query
        name: limit
        schema:
          type: integer
      - description: Flag to indicate it is has to search by block number
        required: false
        in: query
        name: search_by_block_num
        schema:
          type: boolean
      - description: Flag to indicate it has to search in reverse
        required: false
        in: query
        name: reverse
        schema:
          type: boolean
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetActivatedProtocolFeatures
      x-operation-id-source: derived
    post:
      summary: Retreives the activated protocol features for producer node
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                lower_bound:
                  type: integer
                  description: Lower bound
                upper_bound:
                  type: integer
                  description: Upper bound
                limit:
                  type: integer
                  description: The limit, default is 10
                search_by_block_num:
                  type: boolean
                  description: Flag to indicate it is has to search by block number
                reverse:
                  type: boolean
                  description: Flag to indicate it has to search in reverse
      operationId: postV1ChainGetActivatedProtocolFeatures
      x-operation-id-source: derived
  /v1/chain/get_block:
    get:
      summary: Returns an object containing various details about a specific block on the…
      description: Returns an object containing various details about a specific block on the blockchain.
      tags:
      - Chain
      parameters:
      - description: Provide a `block number` or a `block id`
        required: true
        in: query
        name: block_num_or_id
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetBlock
      x-operation-id-source: derived
    head:
      summary: Returns an object containing various details about a specific block on the…
      description: Returns an object containing various details about a specific block on the blockchain.
      tags:
      - Chain
      parameters:
      - description: Provide a `block number` or a `block id`
        required: true
        in: query
        name: block_num_or_id
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetBlock
      x-operation-id-source: derived
    post:
      summary: Returns an object containing various details about a specific block on the…
      description: Returns an object containing various details about a specific block on the blockchain.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                block_num_or_id:
                  description: Provide a `block number` or a `block id`
                  type: string
              required:
              - block_num_or_id
      operationId: postV1ChainGetBlock
      x-operation-id-source: derived
  /v1/chain/get_block_header_state:
    get:
      summary: Retrieves the block header state
      tags:
      - Chain
      parameters:
      - description: Provide a block_number or a block_id
        required: true
        in: query
        name: block_num_or_id
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetBlockHeaderState
      x-operation-id-source: derived
    head:
      summary: Retrieves the block header state
      tags:
      - Chain
      parameters:
      - description: Provide a block_number or a block_id
        required: true
        in: query
        name: block_num_or_id
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetBlockHeaderState
      x-operation-id-source: derived
    post:
      summary: Retrieves the block header state
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                block_num_or_id:
                  type: string
                  description: Provide a block_number or a block_id
              required:
              - block_num_or_id
      operationId: postV1ChainGetBlockHeaderState
      x-operation-id-source: derived
  /v1/chain/get_code:
    get:
      summary: Retrieves contract code
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      - description: This must be 1 (true)
        required: true
        in: query
        name: code_as_wasm
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetCode
      x-operation-id-source: derived
    head:
      summary: Retrieves contract code
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      - description: This must be 1 (true)
        required: true
        in: query
        name: code_as_wasm
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetCode
      x-operation-id-source: derived
    post:
      summary: Retrieves contract code
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                account_name:
                  $ref: '#/components/schemas/def-3'
                code_as_wasm:
                  type: integer
                  default: 1
                  description: This must be 1 (true)
              required:
              - account_name
              - code_as_wasm
      operationId: postV1ChainGetCode
      x-operation-id-source: derived
  /v1/chain/get_currency_balance:
    get:
      summary: Retrieves the current balance
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: code
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account
      - $ref: '#/components/schemas/def-1'
        required: true
        in: query
        name: symbol
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetCurrencyBalance
      x-operation-id-source: derived
    head:
      summary: Retrieves the current balance
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: code
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account
      - $ref: '#/components/schemas/def-1'
        required: true
        in: query
        name: symbol
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetCurrencyBalance
      x-operation-id-source: derived
    post:
      summary: Retrieves the current balance
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                code:
                  $ref: '#/components/schemas/def-3'
                account:
                  $ref: '#/components/schemas/def-3'
                symbol:
                  $ref: '#/components/schemas/def-1'
              required:
              - code
              - account
              - symbol
      operationId: postV1ChainGetCurrencyBalance
      x-operation-id-source: derived
  /v1/chain/get_currency_stats:
    get:
      summary: Retrieves currency stats
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: code
      - description: token symbol
        required: true
        in: query
        name: symbol
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetCurrencyStats
      x-operation-id-source: derived
    head:
      summary: Retrieves currency stats
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: code
      - description: token symbol
        required: true
        in: query
        name: symbol
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetCurrencyStats
      x-operation-id-source: derived
    post:
      summary: Retrieves currency stats
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                code:
                  $ref: '#/components/schemas/def-3'
                symbol:
                  description: token symbol
                  type: string
              required:
              - code
              - symbol
      operationId: postV1ChainGetCurrencyStats
      x-operation-id-source: derived
  /v1/chain/get_info:
    get:
      summary: Returns an object containing various details about the blockchain
      description: Returns an object containing various details about the blockchain.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetInfo
      x-operation-id-source: derived
    head:
      summary: Returns an object containing various details about the blockchain
      description: Returns an object containing various details about the blockchain.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetInfo
      x-operation-id-source: derived
    post:
      summary: Returns an object containing various details about the blockchain
      description: Returns an object containing various details about the blockchain.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      operationId: postV1ChainGetInfo
      x-operation-id-source: derived
  /v1/chain/get_raw_abi:
    get:
      summary: Retrieves raw ABI for a contract based on account name
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetRawAbi
      x-operation-id-source: derived
    head:
      summary: Retrieves raw ABI for a contract based on account name
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetRawAbi
      x-operation-id-source: derived
    post:
      summary: Retrieves raw ABI for a contract based on account name
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                account_name:
                  $ref: '#/components/schemas/def-3'
              required:
              - account_name
      operationId: postV1ChainGetRawAbi
      x-operation-id-source: derived
  /v1/chain/get_producers:
    get:
      summary: Retrieves producers list
      tags:
      - Chain
      parameters:
      - description: total number of producers to retrieve
        required: false
        in: query
        name: limit
        schema:
          type: string
      - description: In conjunction with limit can be used to paginate through the results. For example, limit=10 and lower_bound=10 would be page 2
        required: false
        in: query
        name: lower_bound
        schema:
          type: string
      - description: return result in JSON format
        required: false
        in: query
        name: json
        schema:
          type: boolean
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetProducers
      x-operation-id-source: derived
    head:
      summary: Retrieves producers list
      tags:
      - Chain
      parameters:
      - description: total number of producers to retrieve
        required: false
        in: query
        name: limit
        schema:
          type: string
      - description: In conjunction with limit can be used to paginate through the results. For example, limit=10 and lower_bound=10 would be page 2
        required: false
        in: query
        name: lower_bound
        schema:
          type: string
      - description: return result in JSON format
        required: false
        in: query
        name: json
        schema:
          type: boolean
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetProducers
      x-operation-id-source: derived
    post:
      summary: Retrieves producers list
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                limit:
                  type: string
                  description: total number of producers to retrieve
                lower_bound:
                  type: string
                  description: In conjunction with limit can be used to paginate through the results. For example, limit=10 and lower_bound=10 would be page 2
                json:
                  type: boolean
                  description: return result in JSON format
      operationId: postV1ChainGetProducers
      x-operation-id-source: derived
  /v1/chain/get_table_by_scope:
    get:
      summary: Retrieves table scope
      tags:
      - Chain
      parameters:
      - description: '`name` of the contract to return table data for'
        required: true
        in: query
        name: code
        schema:
          type: string
      - description: Filter results by table
        required: false
        in: query
        name: table
        schema:
          type: string
      - description: Filters results to return the first element that is not less than provided value in set
        required: false
        in: query
        name: lower_bound
        schema:
          type: string
      - description: Filters results to return the first element that is greater than provided value in set
        required: false
        in: query
        name: upper_bound
        schema:
          type: string
      - description: Limit number of results returned.
        required: false
        in: query
        name: limit
        schema:
          type: integer
      - description: Reverse the order of returned results
        required: false
        in: query
        name: reverse
        schema:
          type: boolean
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetTableByScope
      x-operation-id-source: derived
    head:
      summary: Retrieves table scope
      tags:
      - Chain
      parameters:
      - description: '`name` of the contract to return table data for'
        required: true
        in: query
        name: code
        schema:
          type: string
      - description: Filter results by table
        required: false
        in: query
        name: table
        schema:
          type: string
      - description: Filters results to return the first element that is not less than provided value in set
        required: false
        in: query
        name: lower_bound
        schema:
          type: string
      - description: Filters results to return the first element that is greater than provided value in set
        required: false
        in: query
        name: upper_bound
        schema:
          type: string
      - description: Limit number of results returned.
        required: false
        in: query
        name: limit
        schema:
          type: integer
      - description: Reverse the order of returned results
        required: false
        in: query
        name: reverse
        schema:
          type: boolean
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetTableByScope
      x-operation-id-source: derived
    post:
      summary: Retrieves table scope
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                code:
                  type: string
                  description: '`name` of the contract to return table data for'
                table:
                  type: string
                  description: Filter results by table
                lower_bound:
                  type: string
                  description: Filters results to return the first element that is not less than provided value in set
                upper_bound:
                  type: string
                  description: Filters results to return the first element that is greater than provided value in set
                limit:
                  type: integer
                  description: Limit number of results returned.
                reverse:
                  type: boolean
                  description: Reverse the order of returned results
              required:
              - code
      operationId: postV1ChainGetTableByScope
      x-operation-id-source: derived
  /v1/chain/get_raw_code_and_abi:
    get:
      summary: Retrieves raw code and ABI for a contract based on account name
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetRawCodeAndAbi
      x-operation-id-source: derived
    head:
      summary: Retrieves raw code and ABI for a contract based on account name
      tags:
      - Chain
      parameters:
      - $ref: '#/components/schemas/def-3'
        required: true
        in: query
        name: account_name
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetRawCodeAndAbi
      x-operation-id-source: derived
    post:
      summary: Retrieves raw code and ABI for a contract based on account name
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                account_name:
                  $ref: '#/components/schemas/def-3'
              required:
              - account_name
      operationId: postV1ChainGetRawCodeAndAbi
      x-operation-id-source: derived
  /v1/chain/get_scheduled_transaction:
    get:
      summary: Retrieves the scheduled transaction
      tags:
      - Chain
      parameters:
      - description: Date/time string in the format YYYY-MM-DDTHH:MM:SS.sss
        title: DateTimeSeconds
        required: false
        in: query
        name: lower_bound
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}$
      - description: The maximum number of transactions to return
        required: false
        in: query
        name: limit
        schema:
          type: integer
      - description: true/false whether the packed transaction is converted to json
        required: false
        in: query
        name: json
        schema:
          type: boolean
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetScheduledTransaction
      x-operation-id-source: derived
    head:
      summary: Retrieves the scheduled transaction
      tags:
      - Chain
      parameters:
      - description: Date/time string in the format YYYY-MM-DDTHH:MM:SS.sss
        title: DateTimeSeconds
        required: false
        in: query
        name: lower_bound
        schema:
          type: string
          pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}$
      - description: The maximum number of transactions to return
        required: false
        in: query
        name: limit
        schema:
          type: integer
      - description: true/false whether the packed transaction is converted to json
        required: false
        in: query
        name: json
        schema:
          type: boolean
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetScheduledTransaction
      x-operation-id-source: derived
    post:
      summary: Retrieves the scheduled transaction
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                lower_bound:
                  type: string
                  description: Date/time string in the format YYYY-MM-DDTHH:MM:SS.sss
                  pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}$
                  title: DateTimeSeconds
                limit:
                  description: The maximum number of transactions to return
                  type: integer
                json:
                  description: true/false whether the packed transaction is converted to json
                  type: boolean
      operationId: postV1ChainGetScheduledTransaction
      x-operation-id-source: derived
  /v1/chain/push_transaction:
    post:
      summary: This method expects a transaction in JSON format and will attempt to apply it…
      description: This method expects a transaction in JSON format and will attempt to apply it to the blockchain.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                signatures:
                  type: array
                  description: array of signatures required to authorize transaction
                  items:
                    $ref: '#/components/schemas/def-2'
                compression:
                  type: boolean
                  description: Compression used, usually false
                packed_context_free_data:
                  type: string
                  description: json to hex
                packed_trx:
                  type: string
                  description: Transaction object json to hex
      operationId: postV1ChainPushTransaction
      x-operation-id-source: derived
  /v1/chain/get_table_rows:
    get:
      summary: Returns an object containing rows from the specified table
      description: Returns an object containing rows from the specified table.
      tags:
      - Chain
      parameters:
      - description: The name of the smart contract that controls the provided table
        required: true
        in: query
        name: code
        schema:
          type: string
      - description: The name of the table to query
        required: true
        in: query
        name: table
        schema:
          type: string
      - description: The account to which this data belongs
        required: true
        in: query
        name: scope
        schema:
          type: string
      - description: Position of the index used, accepted parameters `primary`, `secondary`, `tertiary`, `fourth`, `fifth`, `sixth`, `seventh`, `eighth`, `ninth` , `tenth`
        required: false
        in: query
        name: index_position
        schema:
          type: string
      - description: Type of key specified by index_position (for example - `uint64_t` or `name`)
        required: false
        in: query
        name: key_type
        schema:
          type: string
      - required: false
        in: query
        name: encode_type
        schema:
          type: string
      - required: false
        in: query
        name: upper_bound
        schema:
          type: string
      - required: false
        in: query
        name: lower_bound
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainGetTableRows
      x-operation-id-source: derived
    head:
      summary: Returns an object containing rows from the specified table
      description: Returns an object containing rows from the specified table.
      tags:
      - Chain
      parameters:
      - description: The name of the smart contract that controls the provided table
        required: true
        in: query
        name: code
        schema:
          type: string
      - description: The name of the table to query
        required: true
        in: query
        name: table
        schema:
          type: string
      - description: The account to which this data belongs
        required: true
        in: query
        name: scope
        schema:
          type: string
      - description: Position of the index used, accepted parameters `primary`, `secondary`, `tertiary`, `fourth`, `fifth`, `sixth`, `seventh`, `eighth`, `ninth` , `tenth`
        required: false
        in: query
        name: index_position
        schema:
          type: string
      - description: Type of key specified by index_position (for example - `uint64_t` or `name`)
        required: false
        in: query
        name: key_type
        schema:
          type: string
      - required: false
        in: query
        name: encode_type
        schema:
          type: string
      - required: false
        in: query
        name: upper_bound
        schema:
          type: string
      - required: false
        in: query
        name: lower_bound
        schema:
          type: string
      responses:
        '200':
          description: Default Response
      operationId: headV1ChainGetTableRows
      x-operation-id-source: derived
    post:
      summary: Returns an object containing rows from the specified table
      description: Returns an object containing rows from the specified table.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                code:
                  type: string
                  description: The name of the smart contract that controls the provided table
                table:
                  type: string
                  description: The name of the table to query
                scope:
                  type: string
                  description: The account to which this data belongs
                index_position:
                  type: string
                  description: Position of the index used, accepted parameters `primary`, `secondary`, `tertiary`, `fourth`, `fifth`, `sixth`, `seventh`, `eighth`, `ninth` , `tenth`
                key_type:
                  type: string
                  description: Type of key specified by index_position (for example - `uint64_t` or `name`)
                encode_type:
                  type: string
                upper_bound:
                  type: string
                lower_bound:
                  type: string
              required:
              - code
              - table
              - scope
      operationId: postV1ChainGetTableRows
      x-operation-id-source: derived
  /v1/chain/push_transactions:
    post:
      summary: This method expects a transaction in JSON format and will attempt to apply it…
      description: This method expects a transaction in JSON format and will attempt to apply it to the blockchain.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - array
              - object
              - string
              items:
                type:
                - object
                - string
                additionalProperties: false
                minProperties: 8
                required:
                - expiration
                - ref_block_num
                - ref_block_prefix
                - max_net_usage_words
                - max_cpu_usage_ms
                - delay_sec
                - context_free_actions
                - actions
                properties:
                  expiration:
                    $ref: '#/components/schemas/def-4'
                  ref_block_num:
                    type: integer
                  ref_block_prefix:
                    type: integer
                  max_net_usage_words:
                    $ref: '#/components/schemas/def-0'
                  max_cpu_usage_ms:
                    $ref: '#/components/schemas/def-0'
                  delay_sec:
                    type: integer
                  context_free_actions:
                    type: array
                    items:
                      $ref: '#/components/schemas/def-6'
                  actions:
                    type: array
                    items:
                      $ref: '#/components/schemas/def-6'
                  transaction_extensions:
                    type: array
                    items:
                      $ref: '#/components/schemas/def-5'
      operationId: postV1ChainPushTransactions
      x-operation-id-source: derived
  /v1/chain/send_transaction:
    post:
      summary: This method expects a transaction in JSON format and will attempt to apply it…
      description: This method expects a transaction in JSON format and will attempt to apply it to the blockchain.
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      requestBody:
        content:
          application/json:
            schema:
              type:
              - object
              - string
              properties:
                signatures:
                  type: array
                  description: array of signatures required to authorize transaction
                  items:
                    $ref: '#/components/schemas/def-2'
                compression:
                  type: boolean
                  description: Compression used, usually false
                packed_context_free_data:
                  type: string
                  description: json to hex
                packed_trx:
                  type: string
                  description: Transaction object json to hex
      operationId: postV1ChainSendTransaction
      x-operation-id-source: derived
  /v1/chain/{wildcard}:
    get:
      summary: Wildcard chain api handler
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      operationId: getV1ChainByWildcard
      x-operation-id-source: derived
    post:
      summary: Wildcard chain api handler
      tags:
      - Chain
      responses:
        '200':
          description: Default Response
      operationId: postV1ChainByWildcard
      x-operation-id-source: derived
components:
  schemas:
    def-1:
      type: string
      description: A symbol composed of capital letters between 1-7.
      pattern: ^([A-Z]{1,7})$
      title: Symbol
    def-2:
      type: string
      description: String representation of an EOSIO compatible cryptographic signature
      pattern: ^SIG_([RK]1|WA)_[1-9A-HJ-NP-Za-km-z]+$
      title: Signature
    def-0:
      title: Integer
      description: Integer or String
      anyOf:
      - type: string
        pattern: ^\d+$
      - type: integer
    def-4:
      description: Time that transaction must be confirmed by.
      type: string
      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$
      title: DateTime
    def-6:
      type: object
      additionalProperties: false
      minProperties: 5
      required:
      - account
      - name
      - authorization
      - data
      - hex_data
      properties:
        account:
          $ref: '#/components/schemas/def-3'
        name:
          $ref: '#/components/schemas/def-3'
        authorization:
          type: array
          items:
            type: object
            additionalProperties: false
            minProperties: 2
            required:
            - actor
            - permission
            properties:
              actor:
                $ref: '#/components/schemas/def-3'
              permission:
                $ref: '#/components/schemas/def-3'
            title: Authority
        data:
          type: object
          additionalProperties: true
        hex_data:
          type: string
      title: Action
    def-5:
      type: array
      items:
        anyOf:
        - type: integer
        - type: string
      title: Extension
    def-3:
      description: String representation of an EOSIO compatible account name
      anyOf:
      - type: string
        description: String representation of privileged EOSIO name type
        pattern: ^(eosio[\.][a-z1-5]{1,6})([a-j]{1})?$
        title: NamePrivileged
      - type: string
        description: String representation of basic EOSIO name type, must be 12 characters and contain only a-z and 0-5
        pattern: ^([a-z]{1}[a-z1-5]{11})([a-j]{1})?$
        title: NameBasic
      - type: string
        description: String representation of EOSIO bid name type, 1-12 characters and only a-z and 0-5 are allowed
        pattern: ^([a-z1-5]{1,12})([a-j]{1})?$
        title: NameBid
      - type: string
        description: String representation of EOSIO name type
        pattern: ^([a-z1-5]{1}[a-z1-5\.]{0,10}[a-z1-5]{1})([a-j]{1})?$
        title: NameCatchAll
      title: Name
