openapi: 3.2.0
info:
  title: Upland Developers Authentication API
  description: You can use the developer API to map user IDs, read information, and manage your app escrow container.
  version: 1.0.0
  contact: {}
servers:
- url: https://api.sandbox.upland.me/developers-api
tags:
- name: Authentication
paths:
  /auth/otp/init:
    post:
      operationId: AuthController_otpInit
      summary: Create Connection Code
      description: Creates a connection code to authenticate Upland Users within a third-party application. The Upland User must submit this code into her Upland Account to complete the authorization flow.
      parameters: []
      responses:
        '201':
          description: Connection code response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpInitResposeDto'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpErrorDto'
      tags:
      - Authentication
      security:
      - basic: []
components:
  schemas:
    HttpErrorDto:
      type: object
      properties:
        message:
          type: string
          title: Message
          description: The cause of the Error
        statusCode:
          type: number
          title: Status Code
          description: Status code of the Error
        error:
          type: string
          title: Error
          description: (Optional) Name of the Error
      required:
      - message
      - statusCode
    OtpInitResposeDto:
      type: object
      properties:
        code:
          type: string
          description: Connection code
          example: 8JGXBU9G87
          title: Code
        expireAt:
          format: date-time
          type: string
          description: Code expiration date
          example: '2023-06-14T13:41:22.364Z'
          title: Expire At
      required:
      - code
      - expireAt
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: 'Basic access authentication is a method to provide a username and password when making a request. In basic HTTP authentication, a request contains a header field in the form of (Authorization: Basic [credential]), where credentials is the Base64 encoding of ID and password joined by a single colon :. For our case, you must consider Username as app ID and password as secret key (this information can be generated in endpoint to create application).'
    bearer:
      type: http
      scheme: bearer
      description: You must provide a Code to your users generated across the endpoint /auth/opt/init. When Upland User grants access for the developer App, a webhook will be sent with a valid access token.
